@model Course

@{
    ViewData["Title"] = "AddCourse";
    Layout = "_AdminLayout";
}


<div class="content-page w-100">
    <div class="content">
        <h1>AddCourse</h1>
        <hr />
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddCourse">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CourseName" class="control-label"></label>
                            <input asp-for="CourseName" class="form-control" placeholder="Course Name" required/>
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TopicsCovered" class="control-label"></label>
                            <input asp-for="TopicsCovered" class="form-control" placeholder="Topics Covered" required/>
                            <span asp-validation-for="TopicsCovered" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseFee" class="control-label"></label>
                            <input asp-for="CourseFee" class="form-control" placeholder="Course Fee" required/>
                            <span asp-validation-for="CourseFee" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseDetails" class="control-label"></label>
                            <input asp-for="CourseDetails" class="form-control" placeholder="Course Details" required/>
                            <span asp-validation-for="CourseDetails" class="text-danger"></span>
                        </div>
                      
                        <div class="form-group mt-2">
                            <input type="submit" value="Add Course" class="btn btn-outline-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Courses">Back to Courses</a>
            </div>
        </div>
    </div>
        </div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
                }