@model Symphony_LTD.Models.EntranceExamList

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Entrance Exam List";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <h1>Entrance Exam List</h1>

            <h3>Create Entrance Exam List</h3>
            <hr />
            <div class="row bg-white">
                <div class="col-md-4">
                    <form asp-action="EntranceExamList">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Marks" class="control-label"></label>
                            <input asp-for="Marks" class="form-control" />
                            <span asp-validation-for="Marks" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Availablity" class="control-label"></label>
                            <select asp-for="Availablity" class="form-control">
                                <option value="true">Default</option>
                                <option value="true">Available</option>
                                <option value="false">Not Available</option>
                            </select>
                            <span asp-validation-for="Availablity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
