@model Symphony_LTD.Models.EntranceExam

@{
    ViewData["Title"] = "EntranceExam";
    Layout = "_AdminLayout";
}

<div class="content-page">
    <div class="content">
        <h1>Entrance Exam</h1>

        <h3>Schedule Entrance Exam (<span class="text-danger">For Admission & Class Segregation Purpose</span>)</h3>
        <hr />
        <div class="container-fluid">            
                <form asp-action="EntranceExam">                    
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label asp-for="ExamName" class="control-label"></label>
                                <input asp-for="ExamName" class="form-control" placeholder="Entrance Exam Name/Title" required/>
                                <span asp-validation-for="ExamName" class="text-danger"></span>
                            </div>
                        </div> 
                        <div class="col-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="TotalMarks" class="control-label"></label>
                                    <input asp-for="TotalMarks" class="form-control" placeholder="Total Score/Marks"/>
                                    <span asp-validation-for="TotalMarks" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="col-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Course" class="control-label"></label>
                                    <select asp-for="Course" class="form-control" required> 
                                        @foreach (var i in ViewBag.Courses)
                                        {
                                            <option value="@i.Id">Course Name: <b>@i.CourseName</b> | Course Details: <b>@i.CourseDetails</b></option>
                                        }
                                    </select>
                                    <span asp-validation-for="Course" class="text-danger"></span>
                                </div>
                        </div>
                    <div class="col-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" placeholder="Entrance Exam Details" required/>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                        </div>
                    <div class="col-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <input asp-for="Date" class="form-control" required/>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                        </div>
                    <div class="col-6 mb-3">
                                <div class="form-group"
                                <label>Schedule Entrance Exam 👇</label>
                                    <input type="submit" value="Schedule Entrance Exam" class="btn btn-dark form-control" />
                                </div>
                        </div>
                       
                    </div>
                    </form>        
    </div>
    </div>
</div>


