<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page Title -->
    <title>@ViewData["Title"] - Symphony (PVT) LTD</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/landing_page_images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/landing_page_css/bootstrap.min.css" type="text/css" asp-append-version="true">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/landing_page_css/materialdesignicons.min.css" asp-append-version="true" />

    <!--pe-7 Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/landing_page_css/pe-icon-7-stroke.css" />

    <!-- Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- Custom  sCss -->
    <link rel="stylesheet" type="text/css" href="~/css/landing_page_css/style.css" asp-append-version="true" />
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58" class="scrollspy-example">
    <header>
        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="nav-sticky">
            <div class="container-fluid">
                <!-- LOGO -->
                <a class="logo text-uppercase" asp-controller="Home" asp-action="Index">
                    <img src="~/landing_page_images/Black and White Monogram Business Logo (2).png" alt="" class="logo-light" height="25" />
                    <img src="~/landing_page_images/Black and White Monogram Business Logo (2).png" alt="" class="logo-dark" height="25" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto" id="mySidenav">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="AboutUs" class="nav-link active">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="EntranceExam" class="nav-link active">Entrance Exam</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Courses" class="nav-link active">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="FAQ" asp-action="FAQS" class="nav-link active">FAQ's</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Contact" class="nav-link btn btn-dark text-light" style="color:white !important;">Contact Us</a>
                        </li>                         
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
    </header>
            
            @* Renders The Main Content For Body *@   
            @RenderBody()


   
    <!-- footer start -->
    <footer class="footer bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        <div class="footer-logo mb-3">
                            <img src="~/landing_page_images/Black and White Monogram Business Logo (5).png" alt="" height="20">
                        </div>
                        <ul class="list-inline footer-list text-center mt-5">
                            <li class="list-inline-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="list-inline-item"><a asp-controller="User" asp-action="AboutUs">About</a></li>
                            <li class="list-inline-item"><a asp-controller="User" asp-action="EntranceExam">Entrance Exam</a></li>
                            <li class="list-inline-item"><a asp-controller="FAQ" asp-action="FAQS">FAQ's</a></li>
                            <li class="list-inline-item"><a asp-controller="User" asp-action="Contact">Contact</a></li>
                            
                        </ul>
                        <ul class="list-inline social-links mb-4 mt-5">
                            <li class="list-inline-item"><a href="https://www.facebook.com/worldoftech.softwarehouse.official" target="_blank"><i class="bi bi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/MesumBinShaukat" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/world_of_tech_official/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/mesumbinshaukat" target="_blank"><i class="bi bi-github"></i></a></li>
                        </ul>
                        <p class="text-white-50 mb-4">&copy; 2024 - Symphony (PVT) LTD <a href="https://mesum.online" target="_blank" class="text-white-50 fw-bold ">MESUM BIN SHAUKAT</a> </p>

                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- footer end -->

    

    <!-- javascript -->
    <script src="~/js/landing_page_js/bootstrap.bundle.min.js"></script>
    <!-- counter js -->
    <script src="~/js/landing_page_js/counter.int.js"></script>
    <!-- custom js -->
    <script src="~/js/landing_page_js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
